numpy<2
setuptools>=80.9.0
gitsubmodules/lisa-on-gpu
gitsubmodules/FastEMRIWaveforms
gitsubmodules/LISAanalysistools
ultranest>=4.4.0
# cupy-cuda12x>=13.6.0   # GPU optional: uncomment only if your CUDA toolchain matches
eryn
dynesty
